<!DOCTYPE html>
<html>
    <head>
        <title>Feeddit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>
        <div class="container center">
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success%>
                </div>
            <%  } %>
            <h1>Feeddit<h1>
            <div class="row">
                <div class="button-landing">
                    <a class="btn btn-lg btn-default btn-block" href="/login">Login!</a>
                </div>
            </div>
            <div class="row">
                <div class="button-landing">
                    <a class="btn btn-lg btn-default btn-block" href="/register">Register!</a>
                </div>
            </div>
        </div>
    </body>
</html>